<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html">

<head/>

<body>


<f:view contracts="#{templateBean.contract}">

    <ui:composition template="/usr_template.xhtml">

        <ui:define name="content">
            home content
            <f:view>
                <h:panelGrid columns="1">
                    Choose a template for User Page:
                    <br/>
                    <h:form>
                        <h:selectOneRadio value="#{templateBean.contract}" layout="pageDirection" required="true">
                            <f:selectItem itemValue="white" itemLabel="white theme"/>
                            <f:selectItem itemValue="green" itemLabel="green theme"/>
                            <f:selectItem itemValue="blue" itemLabel="blue theme"/>
                        </h:selectOneRadio>
                        <h:commandButton value="Apply" action="/index.xhtml"/>
                    </h:form>
                </h:panelGrid>
            </f:view>
        </ui:define>

        <ui:define name="footer">
            home footer
        </ui:define>

        <ui:define name="menu">
            home menu
            <ul id="navlist">
                <li>
                    <a href="${facesContext.externalContext.requestContextPath}/">home</a>
                </li>
                <li>
                    <a href="${facesContext.externalContext.requestContextPath}/admin">admin</a>
                </li>
                <li>
                    <a href="${facesContext.externalContext.requestContextPath}/user">user</a>
                </li>
            </ul>
        </ui:define>

        <ui:define name="additional">

        </ui:define>

    </ui:composition>

</f:view>

</body>

</html>



