<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

<h:head>
    <title>#{msg['welcome.title']} #{templateBean.contract}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet"
          href="${facesContext.externalContext.requestContextPath}/contracts/green/css/default.css"/>
    <link rel="stylesheet"
          href="${facesContext.externalContext.requestContextPath}/all-contracts/css/menu.css"/>
</h:head>

<h:body>

    <div id="pagewrapper">

        <div id="menu">
            <ui:insert name="menu">
                [template content will be inserted here]
            </ui:insert>
        </div>

        <div id="content">
            <ui:insert name="content">
                [template content will be inserted here]
            </ui:insert>
        </div>

        <div id="footer">
            <ui:insert name="footer">
                [template content will be inserted here]
            </ui:insert>
        </div>
    </div>

</h:body>

</html>