ul#navlist
{
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
}

#navlist li
{
    display: inline;
    list-style-type: none;
}

#navlist a { padding: 3px 10px; }

#navlist a:link, #navlist a:visited
{
    color: #fff;
    background-color: #036;
    text-decoration: none;
}

#navlist a:hover
{
    color: #fff;
    background-color: #369;
    text-decoration: none;
}