<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>

    <h1>ValueChangeListener</h1>

    <h:form>

        <h:panelGrid columns="2">

            Selected country :
            <h:inputText id="country" value="#{countryCodes.localeCode}" size="20" />

            Select a country {ValueChangeListener class}:
            <h:selectOneMenu value="#{countryCodes.localeCode}" onchange="submit()">
                <f:valueChangeListener type="de.steve72.area51.j2ee04.listener.MyCountryValueChangeListener" />
                <f:selectItems value="#{countryCodes.countryInMap}" />
            </h:selectOneMenu>

        </h:panelGrid>

    </h:form>

</h:body>
</html>
