<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
    <title>JSF Intro</title>
</head>

<body>
<div align="center">
    <h2>Hello JSF</h2>
    <br/>
    <h:form>
        <h:inputText value="#{myHelloBean.name}"/>
    </h:form>
    <br/>
    Hello to you, #{myHelloBean.name} !
</div>
</body>

</html>
