<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <title>#{partyBean.name}</title>
</h:head>

<h:body>
    <div align="center">
        <h2>Party on!</h2>
        <h3>Session: ${session.id}</h3>

        <!-- conversation.memory is a field within a @ConversationScoped bean -->
        <h3>#{conversation.memory}</h3>

        <h:form>
            <h:inputText value="#{conversation.memory} "/>
            <h:commandButton value="Conversation" action="party"/>
        </h:form>
        <br/>
        <!-- end @ConversationScoped demo -->

        <h:form>
            <h:commandButton value="End Conversation" actionListener="#{conversation.finishInteractions}"/>
        </h:form>
        <br/>
        <br/>

        <h:form>
            <label style="font-weight: bold">Party pieces</label>
            <br/>
            <br/>

            <label>Choose a title:</label>
            <h:inputText
                    value="#{partyBean.name}">
                <f:validator validatorId="myValidator"/>
            </h:inputText>
            <br/>
            <br/>

            <label for="imageUri">Choose a picture:</label>
            <h:selectOneMenu value="#{partyBean.imageUri}" id="imageUri">
                <f:selectItem itemValue="party1.jpg" itemLabel="Hats"/>
                <f:selectItem itemValue="party2.jpg" itemLabel="Balloons"/>
            </h:selectOneMenu>
            <br/>
            <br/>

            <label>Are parents allowed?</label>
            <h:selectBooleanCheckbox value="#{partyBean.parentsAllowed}"/>
            <br/>
            <br/>

            <h:commandButton value="Submit picture and parent choices" action="party"/>
            <h:commandButton value="Reset to default" action="#{partyBean.reset}"/>
            <br/>
            <br/>

        </h:form>
        <br/>
        <br/>

        <label style="font-weight: bold">Party summary</label>
        <br/>
        <br/>
        <h:outputText value="#{partyBean.summary}"/>
        <br/>
        <br/>

        <h:dataTable value="#{partyBean.guests}" var="guest">
            <h:column>#{guest.name}</h:column>
            <h:column>#{guest.age}</h:column>
        </h:dataTable>

        <h:graphicImage value="#{partyBean.imageUri}" width="200"/>

        <p>
            <h:form>
                <h:commandLink value="Follow me for a surprise..." action="surprise"/>
            </h:form>
        </p>

    </div>
</h:body>
</html>
