<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


<h:head>
    <title>#{partyBean.name}</title>
</h:head>

<h:body>
    <div align="center">
        <h2>Surprise!</h2>
        <h:graphicImage value="/images/surprise.jpg"/>
        <p>
            Hope the party ends with a bang!
        </p>

        <p>
            <h:form>
                <h:commandLink value="Return to #{partyBean.name}" action="party"/>
            </h:form>
        </p>
    </div>
</h:body>

</html>
