<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>

    <f:view contracts="#{templateBean.contract}">

        <ui:composition template="/adm_template.xhtml">

            <ui:define name="menu">
                #{msg['admin.menu']} : #{view.viewId} : #{templateBean.contract} : ALTERNATIVE

                <ul id="navlist">
                    <li>
                        <a href="${facesContext.externalContext.requestContextPath}/">home</a>
                    </li>
                    <li>
                        <a href="${facesContext.externalContext.requestContextPath}/admin">admin</a>
                    </li>
                    <li>
                        <a href="${facesContext.externalContext.requestContextPath}/user">user</a>
                    </li>
                </ul>
            </ui:define>

            <ui:define name="content">
                <h2>#{msg['admin.content']} #{templateBean.contract}</h2>
            </ui:define>

            <ui:define name="footer">
                admin footer
            </ui:define>

        </ui:composition>

    </f:view>

</h:body>
</html>
